<%= form_for(@address) do |f| %>
  <%= render :partial => 'spree/address/form', :locals => { form: f,
    address_type: 'shipping', address: @address } %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>
