<div class="home">
  <section class="module parallax parallax-home">
    <div class="back">
      <div class="container">
        <div class="intro">
          <h1>We Deliver Hassle Free Mail</h1>
          <div class="intro-bottom">
            <button class="home-button">Order Now</button>
            <h2>100% Satisfaction Guarantee</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="module content">
    <div class="container">
      <h2>Simple Mail in Seconds</h2>
      <div class="one-third column">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <p>We'll save you time... Avoid rushing to the post office, store or mail box just to make your deadline. In fact, you'll have a 24/7 post office at your fingertips. You might even be able to go for a run or hit the gym!</p>
      </div>
      <div class="one-third column">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <p>We'll save you time... Avoid rushing to the post office, store or mail box just to make your deadline. In fact, you'll have a 24/7 post office at your fingertips. You might even be able to go for a run or hit the gym!</p>
      </div>
      <div class="one-third column">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <p>We'll save you time... Avoid rushing to the post office, store or mail box just to make your deadline. In fact, you'll have a 24/7 post office at your fingertips. You might even be able to go for a run or hit the gym!</p>
      </div>
    </div>
  </section>
  <section class="module content testimonials">
    <div class="container">
      <p>"Ed and PostalZen provide a handy and convenient alternative for folks who lack either the time or desire to wait in long lines and bureaucracy. Check it out!"</p>
      <span>Chris - California</span>
    </div>
  </div>
</section>
<section class="module content">
  <div class="container">
    <h2>So how does it work?</h2>
    <div class="one-third column">
      <i class="fa black fa-desktop" aria-hidden="true"></i>
      <h5>Step 1</h5>
      <p>Complete Our Simple Form and Select the Date You Would Like Us to Mail Your Custom Card or Letter.</p>
    </div>
    <div class="one-third column">
      <i class="fa black fa-pencil-square-o" aria-hidden="true"></i>
      <h5>Step 2</h5>
      <p>Add the Text, a Photo, and Customize the Details of Your Letter or Card. (Or Ask Us To Do It For You)</p>
    </div>
    <div class="one-third column">
      <i class="fa black fa-truck" aria-hidden="true"></i>
      <h5>Step 3</h5>
      <p>Submit Your Order and We'll Mail Your Item Anywhere in The U.S. (First Class Mail 3-7 Days)</p>
    </div>
  </div>
</section>
<section class="module parallax parallax-home">
  <div class="back">
    <div class="container">
      <h1>Like what you see?</h1>
      <button class="home-button">Try Us Free</button>
    </div>
  </div>
</section>
<section class="module content">
  <div class="container">
    <h2>As Seen On</h2>
  </div>
</section>
</div>
