<div class="columns sixteen">
  <h2>Recipients</h2>
  <% @line_item.recipients.each do |recipient| %>
    <% address = recipient.address %>
    <div class="columns alpha four address-book">
      <fieldset>
        <span class="right"><%= link_to 'Proof', proof_path(recipient, format: :pdf), target: '_blank' %></span>
        <br>
        <%= render :partial => 'spree/shared/address', locals: { address: address } %>
      </fieldset>
    </div>
  <% end %>

  <% if spree_current_user.admin? %>
    <div class="columns sixteen">
      <h2>Content</h2>
      <%= @line_item.content %>
  <% end %>

  <div class="columns sixteen">
    <%= link_to 'Back', :back %>
  </div>
</div>
