<h1>Cover</h1>
<%= image_tag @line_item.cover.url(:original) %>
<h1>Content</h1>
<%= @line_item.content %>
<h1>Addresses</h1>
<% @line_item.addresses.each do |address| %>
  <% next if address == spree_current_user.bill_address %>
  <% next if address == spree_current_user.ship_address %>
  <div class="columns alpha four address-book">
    <fieldset>
      <%= render :partial => 'spree/shared/address', locals: { address: address } %>
    </fieldset>
  </div>
<% end %>
